.footer {
  text-align: center;
}

.footer-section {
  background-color: #f0f0f0;
  color: #333;
  padding: 20px;
  margin-bottom: 0; 
}

.footer-copyright {
  background-color: #333;
  color: #fff;
  padding: 10px; 
  margin-top: -10px; 
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

h3 {
  color: #555;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Media query for mobile screens */
@media only screen and (max-width: 767px) {
  .footer-content {
    padding: 10px;
  }

  h3 {
    font-size: 16px; 
  }

  a {
    font-size: 14px; 
  }

  /* Add this rule for smaller font size in p tags within .footer-content */
  .footer-content p {
    font-size: 12px;
  }
}
